<div class="col text-center">
  <div class="row">
    <h3>Habilidades</h3>
  </div>
  <div class="row">
    <img src="../../../assets/img/habilidad.svg" alt="..." class="img_redonda">
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">
        <strong>
          •	Responsable y dedicado.
          <br>
          •	Trabajo en equipo.
          <br>
          •	Actitud positiva.
        </strong>
      </p>
    </div>

    <div class="col">
      <p class="text-center">
        <strong>
          •	Honestidad.
          <br>
          •	Confianza.
          <br>
          •	Autodidacta.
          <br>
          •	Resistencia Mental.
        </strong>
      </p>
    </div>
  </div>
</div>
