<div class="col text-center">
  <div class="row">
    <h3>Experiencia laboral</h3>
  </div>
  <div class="row">
    <img src="../../../assets/img/experiencia.svg" alt="..." class="img_redonda">
  </div>
  <div class="row">
    <p class="text-center">
      <strong>Nombre de la empresa: </strong> Dacsa S.A de C.V.
      <br>
      <strong>Período: </strong> Sep 2018 - Enero 2019
      <br>
      <strong>Actividades:</strong>
      <br>
      •	Instalación de alumbrado
      •	Instalación d tablero general
      •	Reestructurado de cableado
    </p>
    <br>
    <br>
    <p class="text-center">
      <strong>Nombre de la empresa: </strong> La clavija
      <br>
      <strong>Período: </strong> Marzo 2019 – Junio 2019
      <br>
      <strong>Actividades:</strong>
      <br>
      •	Desarrollo Web en Angular
      •	Desarrollo de Back-end En Laravel 5.5
      •	Creación de base de datos en PostgreSQL
      <br>
    </p>
  </div>
</div>
