<div class="col text-center">
  <div class="row">
    <h3>Formación académica</h3>
  </div>
  <div class="row">
    <img src="../../../assets/img/libros.svg" alt="..." class="img_redonda">
  </div>
  <div class="row">
    <p class="text-center">
      <strong>Nivel Medio Superior</strong>
      <br>
      <strong>Escuela:</strong> CBTIS No. 47 (Centro de Bachilleres Técnico Industrial y de Servicios)
      <br>
      <strong>Generación:</strong> 2014-2017
      <br>
      <strong>Título obtenido:</strong> Certificado
      <br>
      <br>
    </p>
    <p class="text-center">
      <strong>Universidad:</strong>
      <br>
      <strong>Escuela:</strong> Universidad Tecnológica Del Centro de Veracruz.
      <br>
      <strong>Generación:</strong> 2018-2020
      <br>
      <strong>Título obtenido:</strong> Técnico Superior Universitario
    </p>
  </div>
</div>
