h3{
  margin-top: 8px;
}

:host{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

h3{
  margin-top: 8px;
}

p {
  margin-top: 5px;
  font-size: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.img_redonda {
  width: 130px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card {
  margin-top: 10px;
}

img{
  width: 80px;
  height: auto;
}

#utcv {
  width: 190px;
  height: auto;
}
