<div class="card">
  <div class="card-body">
    <div class="card-header">
      <h3 class="text-center">Formación académica</h3>
    </div>
    <div class="col text-center">
      <div class="row">
      <img src="../../../assets/img/libros.svg" alt="..." class="img_redonda">
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>Nivel Medio Superior</h3>
              <p class="text-center">
                <strong>Escuela:</strong> CBTIS No. 47 (Centro de Bachilleres Técnico Industrial y de Servicios)
                <br>
                <strong>Generación:</strong> 2014-2017
                <br>
                <strong>Título obtenido:</strong> Certificado
              </p>
              <img src="../../../assets/img/DGETI_logo.svg.png" alt="...">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3>Universidad</h3>
              <p class="text-center">
                <strong>Escuela:</strong> Universidad Tecnológica Del Centro de Veracruz.
                <br>
                <strong>Generación:</strong> 2018-2020
                <br>
                <strong>Título obtenido:</strong> Técnico Superior Universitario
              </p>
              <img src="../../../assets/img/unnamed.png" alt="..." id="utcv">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
