:host{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.img_redonda {
  border-radius: 50px;
  width: 200px;
  height: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}
