<h3 class="text-center">Datos personales</h3>
<!--
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a class="rk-item ae-masonry__item"><img src="assets/img/project-1.jpg" alt="">
      <div class="item-meta">
        <h2>Tarjetas de regalo</h2>
        <p>escoje el modelo necesario</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-2.jpg" alt="">
      <div class="item-meta">
        <h2>Fundas o procteroes para celular</h2>
        <p>un regalo perfecto</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-3.jpg" alt="">
      <div class="item-meta">
        <h2>Libros</h2>
        <p>Un libro siempre sera un regalo excelente</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
      <div class="item-meta">
        <h2>Vasos para café</h2>
        <p>Un buen vaso para un buen café</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-5.jpg" alt="">
      <div class="item-meta">
        <h2>Joyería</h2>
        <p>Joyería de tu agrado y a tu gusto</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-7.jpg" alt="">
      <div class="item-meta">
        <h2>Lapiceros</h2>
        <p>Una buena herramienta de escritura</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-8.jpg" alt="">
      <div class="item-meta">
        <h2>Juegos de mesa</h2>
        <p>Un buen juego para su entretenimiento</p>
      </div></a><a class="rk-item ae-masonry__item"><img src="assets/img/project-9.jpg" alt="">
      <div class="item-meta">
        <h2>Llaveros y bolsas</h2>
        <p>Un buen llavero o una bolsa para una mujer</p>
      </div></a>
      <a class="rk-item ae-masonry__item"><img src="assets/img/project-6.jpg" alt="">
      <div class="item-meta">
        <h2>Ropa</h2>
        <p>Ropa para tu amiga o tu amigo</p>
      </div></a>
  </div>
</section> -->
